<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <label for="">Title: </label>{{ post.title }} <br>
                    <label for="">Author: </label>{{ post.author }} <br>
                    <label for="">Date of post: </label>{{ post.posted_on_date }} <br>
                    <label for=""><p><label for="">Posts: </label>{{ post.post }}</p></label>
                </li>
            {% endfor %}
        </ul>
        
    {% endif %}
</body>
</html>

